body{
   
    background-color: aquamarine;
}
.heading{
    display: block;
    width: 100%;
    height: 8rem ;
    background-color: rgb(7, 0, 20);
    text-align: center;
    
 
}
.heading_name{
    display: inline-block; 
   color: rgb(250, 247, 247);
   font-size: 4.2rem;
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;

  
}
img{
   display: inline-block;
    position: relative;
    width: 10%;
    padding: 30px;
    bottom: 24px;
    right: 40%;
   
}
.main{
    display: flex;    
    height: 50rem;
    
    
}
.sub_main{
  display: block;
    width: 50vh;
    height:35rem ;
    margin: 50px;
    border-radius: 20px;
    justify-content: center;
    background-color:rgb(7, 0, 20);
}
.search {
    display: flex;
    height: 10rem;
    width: 100%;
  
   


}

.search_bar {
    display: flex;
    width: 80vh;
    height: 4rem;
    margin: 6rem;
    background-color: rgb(7, 0, 20);
    border-radius: 20px;
}

.box{
 display: inline-flex;
  margin-top: 2rem;
  width:11rem;
  height: 8rem;
  border-radius: 20px;
  background-color:rgb(7, 0, 20) ;
  margin-left: 50px;
    
    
}
.footer{
    display:block;
    margin-top: 8rem;
    width: 90vh;
    height: 10rem;
    border-radius: 20px;
    background-color: rgb(7, 0, 20);  
} 